body  {
	font-size: 15px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	margin: 0px auto;
	padding: 50px;
	color: #000000;
	background:  #666;
	background-image:url('/resources/images/Babel.jpg');
	background-size: 100%;
	background-attachment:fixed;
}

b {
	font-weight: bolder;
}

#title {
	font-family: 'Racing Sans One', cursive;
        font-size: 54px;
	color: #000;
	display: inline;
	padding-left: 10px;
	text-shadow: 1px 1px 4px #fff;
	line-height: 64px;
}

#subtitle {
	font-family: 'Racing Sans One', cursive;
	font-size: 32px;
	color: #000;
	display: inline;
	padding-left: 5px;
	text-shadow: 1px 1px 4px #fff;
	line-height: 64px;
}

#centerbox {
	width: 700px;
	margin: 0 auto;
	padding: 0px 0px 0px 0px;
}

#content {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 20px;
	background: #fff;
	background-color:rgba(255,255,255,0.8);
	box-shadow: 1px 1px 4px #000;
	//opacity:0.8;
}

#anglictina {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 22px;
}

#photo {
	float: left;
	padding-right: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
}

h3 {
	margin-left: 20px;
	margin-bottom: 0px;
}

td {
	padding-left: 20px;
	padding-right: 5px;
}

a:link {
	color: #000000;
	text-decoration: none;
}

a:visited {
	color: #000000;
	text-decoration: none;
}

a:active {
	color: #000000;
	text-decoration: none;
}

a:hover {
	color: #000000;
	text-decoration: underline;
}

#bgtitle {
	position: fixed;
	bottom: 5px;
	right: 5px;
	color: #000;
	background-color: transparent;
	text-shadow: 0px 0px 4px #fff;
	font-size: 15px;
	font-weight: bold;
	z-index: -999;
}

@media print {
	#bgtitle {
		display: none;
	}

	#contactform {
		display: none;
	}

	#tabtops li.active {
		font-weight: bold;
		display: inline;
	}

	#tabtops li {
		display: none;
	}
}
