[Unit]
Description=prekladysistkova.cz sinatra app
After=network.target remote-fs.target nss-lookup.target

[Service]
Environment=LC_ALL=en_US.UTF-8
ExecStart=/usr/bin/ruby /srv/www/prekladysistkova.cz/rb/prekladysistkova.rb
ExecStop=/bin/kill -s QUIT $MAINPID

[Install]
WantedBy=multi-user.target
